# Virtual environment
venv/

# PyCharm IDE
.idea/

# Python cache
__pycache__/
*.pyc

# Hugging Face dataset and model cache (large files)
hf_cache/

# Official dataset from GitHub (large files)
data/

# HuggingFace processed dataset
dataset/mw22_transformed.json
dataset/mw22_filtered.json

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
